body {
    background-color: #CCC;
}

#loadingdiv{
    top: 0px;
    background-color: #FFCC00;
    padding: 2px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
}

#navbar{
    position: fixed;
    background-color: #EEE;
    padding: 2px;
    width: 98%;
    top: 0px;
    margin-top: 0px;
    text-align: center;
    z-index: 10;
}

#navbar .left{
   float:left;
}

#navbar .right{
   float:right;
}

#photos{
    position: relative;
    margin-left: 210px;
    margin-top: 100px;
}

#tags{
    background-color: #BBB;
    width: 200px;
    height: 97%;
    position: fixed;
    overflow: auto;
    top: 40px;
}

#tagstrip{
    position: fixed;
    background-color: #BBB;
    margin-left: 210px;
    width: 80%;
    padding: 2px;
    top: 40px;
    z-index: 10;
}

li.tagentry:hover {
    background-color: #FFF;
    cursor: pointer;
}
