body {
    background-color: #CCC;
}

#loadingdiv{
    top: 0px;
    background-color: #FFCC00;
    padding: 2px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
}

#navbar{
    position: fixed;
    background-color: #EEE;
    padding: 2px;
    width: 98%;
    top: 0px;
    margin-top: 0px;
    text-align: center;
    z-index: 10;
}

#navbar .left{
   float:left;
}

#navbar .right{
   float:right;
}

img.gallery {
   padding:1px;
   border:1px solid #B7B7B7;
   margin:2px;
}

#photos {
    background-color: #FFFFFF;
    position: absolute;
    top: 100px;
    left: 210px;
}
#photos > div {
    float: left;
    width: 150px;
    height: 150px;
    margin: 2px;
}

#photos > div > div {
    display: table-cell;
    vertical-align: middle;
    background: #CCC;
    text-align: center;
    width: inherit;
    height: inherit;
}


#tags{
    background-color: #BBB;
    width: 200px;
    height: 97%;
    position: fixed;
    overflow: auto;
    top: 40px;
}

#tagstrip{
    position: fixed;
    background-color: #BBB;
    margin-left: 210px;
    width: 80%;
    padding: 2px;
    top: 40px;
    z-index: 10;
}

ul#taglist {
    padding: 4px;
    margin: 0px;
    list-style-type: none;
    font-family: arial, sans-serif;
    font-size: 12px;

}


li.tagentry:hover {
    background-color: #FFF;
    cursor: pointer;
}
