<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>Browse PWA tags</title>
        
         <link rel="stylesheet" href="css/index.css" type="text/css" />
         <link rel="stylesheet" href="css/css3buttons.css" type="text/css" />
        <link rel="stylesheet" href="css/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />

        <script type="text/javascript"
         src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.quicksearch.js"></script>
        <script type="text/javascript" src="js/jquery.fancybox-1.3.4.pack.js"></script>
        <script type="text/javascript" src="js/set.js"></script>
        <script type="text/javascript" src="js/tagmanager.js"></script>
    </head>

  <body>


    <div id="navbar">
         <div class="left">
            Hello {{ usernick }} 
            {% if needpicasaauth %}
            <a href="{{ needpicasaauth }}" class="button">Get Picasa token</a> 
            {% endif %} 
         </div>


         <div class="right">
            <a href="{{ signout }}" class="negative button">Log out</a>
         </div>

      <div id="loadingdiv">
          <img src="images/ajax-loader.gif" alt="loading"/>Loading...</div>
    </div>

    <div id="main">
        <div id="tags">
            <input type="text" id="search" autocomplete="off" placeholder="Search">
            <ul id="taglist"></ul>
        </div>
        <div id="tagstrip">
        </div>
        <div id="photos">
        </div>
    </div>

  </body>
{% comment %} vim: set filetype=htmldjango : {% endcomment %}
</html>
